@use '../../styles/colours.scss' as *;
@use '../../styles/conversions.scss' as *;
@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.date {
    padding: 1rem;
}

.count {
    padding: 1rem;
}

.css-iael1t-MuiChartsAxis-root.MuiChartsAxis-bottom {

    & .MuiChartsAxis-tickLabel,
    & .MuiChartsAxis-label {

        alignment-baseline: mathematical !important;
        text-anchor: revert !important;
        text-overflow: ellipsis;
        transform: rotate(90deg);
    }

}

.css-1vuxth3-MuiBarElement-root {
    fill: $graph-a !important;
}

.css-9foxff-MuiChartsAxis-line,
.css-2jrcws-MuiChartsAxis-tick {
    stroke: $graph-line !important;
}

.css-z411iq-MuiChartsAxis-tickLabel {
    fill: $graph-label !important;
}