@use '../../styles/colours.scss' as *;
@use '../../styles/conversions.scss' as *;
@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.projects-card {

    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;

    &__group {
        width: 75%;
        flex-direction: column;
        padding: 1rem;
        // background-color: $color-l;
        width: 20rem;
    }

    &__item {
        margin-top: 1rem;

        &--double {
            display: flex;
            justify-content: space-between;

        }
    }

    &__title {
        width: 100%;
        margin: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__link {
        color: $color-a;
        text-decoration: none;
    }

    &__image {
        width: 15rem;
        padding: 1rem;
        object-fit: cover;
    }

    &:hover &__image {
        // top: 0;
    }
}