@use '../../styles/colours.scss' as *;
@use '../../styles/conversions.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/global.scss' as *;

#main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include desktop {
        // flex-direction: row;
        // align-items: flex-start;
    }
}

// .components {

//     @include desktop {
//         width: 40%;
//         padding: 0;
//     }
// }

#profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    // padding-top: 2rem;
    box-sizing: border-box;

    @include desktop {

        padding: 0;
        width: 30%;
    }
}

.info {
    padding: 1rem;
    // padding: 2rem;
    width: 90%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: thin solid $color-g;

    // background: $color-l;
    box-shadow: $shadow-card;
    backdrop-filter: blur($px5);
    -webkit-backdrop-filter: blur($px5);
    z-index: 2;

    // box-shadow: $shadow-main;

    @include desktop {
        padding: 1rem;
        // margin-bottom: 8rem;
    }

    &__title {
        font-size: 2rem;
        color: $tech-writing;
    }

    &__subtitle {
        font-size: 1rem;
        color: $tech-writing;
    }

    &__description {
        margin-top: 0.2rem;
        font-size: 0.8rem;
        color: $tech-writing;
    }
}

.links {
    &__link {
        border: thin solid $color-g;
        border-radius: 0.5rem;
        background-color: $color-l-low-op;
        width: 10rem;
        height: 4rem;
        position: absolute;
        margin-top: -2rem;
        top: auto;
        z-index: -2;
    }
}