@use '../../styles/colours.scss' as *;
@use '../../styles/conversions.scss' as *;
@use '../../styles/mixins.scss' as *;


#main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.components {
    width: 60%;
}

#profile {
    width: 30%;
}

.info {
    padding: 4rem;
    margin-bottom: 8rem;

    &__title {
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 1rem;
    }

    &__description {
        font-size: 0.8rem;
    }
}