@use '../../styles/colours.scss' as *;
@use '../../styles/conversions.scss' as *;
@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-repositories {
    box-sizing: border-box;
    width: 60%;

    display: none;

    @include tablet {
        display: flex;
    }
}

.repo-list {

    list-style-type: none;
    display: flex;

    &__item a,
    &__item a:active {
        color: $color-a;
        text-decoration: none;
    }

    &__item:hover {
        text-decoration: underline;
    }

    &__item:nth-child(odd) {
        color: black;
    }

}