@use '../../styles/colours.scss' as *;
@use '../../styles/conversions.scss' as *;
@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-repositories {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1rem;

    &__subtitle {
        color: $color-c;
        margin-bottom: 0.5rem;
    }
}

.repo-list {

    list-style-type: none;
    display: flex;

    &__item a,
    &__item a:active {
        color: $color-a;
        text-decoration: none;
    }

    &__item:nth-child(odd) {
        color: black;
    }

    &__link {
        color: $color-c;
        font-weight: 500;

        &:hover {
            animation: bright-glow 1s ease-out;
        }
    }

}